<h2>Products</h2>
@for (product of products; track product.id) {
  <div>
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    @if (product.description) {
      <p>Description: {{ product.description }}</p>
    }
    @if (product.stock) {
      @if (product.stock > 5) {
        <p style="color: green">Stock: {{product.stock}}</p>
      } @else if (product.stock >= 1 && product.stock <= 5) {
        <p style="color: orange">Stock: {{product.stock}}</p>
      } @else {
        <p style="color: red">Agotado</p>
      }


    }
    <button type="button" (click)="share()">Share</button>
    <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
  </div>
}
