.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eeeeee;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
