.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  background-color: #eeeeee;
  margin: 8px 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 16px;
  font-size: 12px;
  color: #888;
}
